@import "tailwindcss";

/* Hide scrollbar for slider */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
